<div class="container">
  <div class="row">
     <% @articles.each do |article| %>
     <div class="col-md-3 margin-top">
     <%= link_to article do %>
     <div>
       <% if article.image_id.present? %>
       <%= image_tag attachment_url(article, :image), class: 'img-responsive index-img' %>
       <% else %>
       <%= image_tag "default-bg.jpg", class: 'img-responsive index-img' %>
       <% end %>
       
       <p class="title"><%= article.title %></p>
     </div>
     <% end %>
     <%= article.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
</div>
 <% end %>
  </div>
 <div class="row">
     <%= link_to "新規作成", new_article_path, class: "margin-top btn btn-primary" %>
 </div>
</div>
